@model Incident
<h2>Izbriši incident</h2>

<form method="post" class="=row">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="row pb-2">
            </hr>
        </div>
        <div class="form-floating col-12 py-2">
            <label asp-for="Name" class="ns-2"></label>
            <input disabled asp-for="Name" class="form-control border-0 shadow" />
        </div>
        <div class="form-floating col-12 py-2">
            <label asp-for="Description" class="ns-2"></label>
            <input disabled asp-for="Description" class="form-control border-0 shadow" />
        </div>
        <div class="form-floating col-12 py-2">
            <label asp-for="InjuredPeopleCount" class="ns-2"></label>
            <input disabled asp-for="InjuredPeopleCount" class="form-control border-0 shadow" />
        </div>
        <div class="form-floating col-12 py-2">
            <label asp-for="DeadPeopleCount" class="ns-2"></label>
            <input disabled asp-for="DeadPeopleCount" class="form-control border-0 shadow" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Obriši</button>
            </div>
            <div class="col-6 col-md-3">
                <a class="btn btn-secondary border form-control" asp-controller="Incident" asp-action="Index">Vrati se na početnu stranu</a>
            </div>
        </div>
    </div>
</form>
